<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Mobile</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/bower_components/shake.js/shake.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="js/play.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/play.css">
</head>
<body>
  <div class="container-fluid answer-select">
    <!-- <h1 class="waiting">Waiting for game to start..</h1> -->
    <!-- <h2 id="player-name"></h2> -->
    <div class="row"><button class="answer-option" data-question-id="1" id="answer1">Answer 1</button></div>
    <div class="row"><button class="answer-option" data-question-id="2" id="answer2">Answer 2</button></div>
    <div class="row"><button class="answer-option" data-question-id="3" id="answer3">Answer 3</button></div>
    <div class="row"><button class="answer-option" data-question-id="4" id="answer4">Answer 4</button></div>
  </div>
</body>
</html>
