body {
  overflow-y: hidden;
  text-align: center;
}

.gameMode {
  background: black;
}

.answer-select {
  height: 70vh;
}

.row-margin {
  margin: 5px 0;
}

button {
  border: 10px solid white;
  border-radius: 3px;
  width: 48%;
  height: 48%; 
}

.message, .playerName, button {
  color: white;
}


