body {
  overflow-y: hidden;
  text-align: center;
}

.gameMode {
  background: black;
}

.answer-select {
  height: 70vh;
}

.row-margin {
  margin: 5px 0;
}

.button-container {
  display: inline-block;
  width: 48%;
  height: 48%;
  background: white;
}

button {
  width: 90%;
  height: 90%;
  border: 10px solid white;
  border-radius: 3px;
  background: white;
  font-size: 3em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.message, .playerName {
  color: white;
}

.selected {
  border-color: blue;
}

/* Comment to push */
