div#question {

	height:80%;
	background-color:white;
	border-radius:25px;
	padding:30px;
	position:relative;

}

div#question ul {

	list-style: none;

}

div#question div.selected {

	border-color:green;

}

div#question main {

	margin-top:50px;

}

div#question .button {

	margin:10px;
	padding:80px;

}
